@media screen and (max-width: 500px){
    header {
      position: fixed;
      width: 100%;
      padding: 0;
      background: #172755;
      box-shadow: 0px 4px 4px #12214D;
    }
  
    .headerContainer {
      height: 70px;
      width: 100%;
    }
  
    .headerNav {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      height: 100%;
      box-shadow: 0px 4px 4px #12214D;
    }
  
    .nav__menu {
      display: none;
    }
  
    .personal-area__button--border {
      display: none;
    }
      
  }