main{
    display: flex;
    flex-direction: column;
    position: relative;
}

.mainContainer {
    width: 1180px;
    margin: 0px auto;
}

.title{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 80px;
}

.title__h1{
    font-weight: 700;
    color: white;
    line-height: 60px;
    font-size: 3.125rem;
    margin-bottom: 15px;
}

.subtitle{
    font-size: 1.125rem;
    color: #8794BA;
    line-height: 27px;
}

.try-for-free{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    margin-top: 65px;
    text-decoration: none;
    background-color: #EF2A82;
    border-radius: 68px;
    width: 238px;
    height: 50px;
}

.table{
    position: absolute;
    top: -45px;
    left: 52%;
    width: 48%;
    height: 572px;
    background-image: url(/img/main-screen.svg);
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.table__chart{
    background-image: url(/img/chart.svg);
    background-repeat: no-repeat;
    background-position: 39% 39%;
    background-color: white;
    width: 361px;
    height: 250px;
    position: absolute;
    top: 145px;
    left: -33px;
    border-radius: 32px;
}

.main-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 300px;
}

.h2__title{
    font-weight: 700;
    font-size: 2.5rem;
    color: #172755;
}

.subtitle--center{
    text-align: center;
}

.main-features__menu{
    display: flex;
    list-style-type: none;
    margin-top: 50px;
}

.main-features__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-features__h3{
    font-weight: 700;
    font-size: 1rem;
    color: #172755;
    margin-top: 25px;
}

.main-features__text{
    color: #8794BA;
    font-size: 1rem;
    line-height: 22.4px;
    text-align: center;
    margin-top: 15px;
}

.article{
    margin-top: 130px;
    margin-bottom: 385px;
}

.article__list{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.article__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__title{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 46%;
}


.article__chart1{
    width: 600px;
    height: 410px;
    background-image: url(/img/screen-01.svg);
    background-repeat: no-repeat; 
    background-position: center;
    background-color: white; 
    border-radius: 30px;
}

.article__chart2{
    width: 600px;
    height: 410px;
    background-image: url(/img/screen-02.svg);
    background-repeat: no-repeat;  
    background-position: center;
    background-color: white; 
    border-radius: 30px;
}

.article__chart3{
    width: 600px;
    height: 410px;
    background-image: url(/img/screen-03.svg);
    background-repeat: no-repeat; 
    background-position: center;
    background-color: white;  
    border-radius: 30px;
}

.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.h2__title--white{
    color: white;
}

.pricing__list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    list-style-type: none;
    margin-bottom: 100px;
}

.pricing__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    padding-top: 50px;
    padding-bottom: 85px;
    background: #0F1F4B;
    border-radius: 30px;
}

.pricing__item--white{
    background: white;
}

.pricing__name{
    color: white;
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: 10px;
}

.pricing__name--color{
    color: #172755;
}

.pricing__up-users{
    color: #8794BA;
    font-size: 1.125rem;
    margin-bottom: 37px;
}

.pricing__delimiter{
    width: 220px;
    height: 1px;
    background: #2A407C;
    margin-bottom: 28px;
}

.pricing__price1{
    background-image: url(/img/$29.svg);
    background-repeat: no-repeat;
    width: 87px;
    height: 55px;
}

.pricing__price2{
    background-image: url(/img/$99.svg);
    background-repeat: no-repeat;
    width: 87px;
    height: 55px;
}

.pricing__price3{
    background-image: url(/img/$299.svg);
    background-repeat: no-repeat;
    width: 123px;
    height: 55px;
}

.pricing__time{
    color: #8794BA;
    margin-bottom: 30px;
}

.pricing__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 55px;
    text-decoration: none;
    border-radius: 68px;
    border: 1px solid #8794BA;
    padding: 8px 60px;
    border-radius: 30px;
}

.pricing__link--color{
    background-color: #EF2A82;
    border-color: #EF2A82;
}

.pricing__link:hover{
    color: #445faf;
    border-color: #445faf;
}

.delimiter{
    width: 100%;
    height: 1px;
    background: #2A407C;
}



